<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{layout :: head('ログイン')}"></head>
<body>
<header th:replace="~{layout :: header}"></header>
<main>
  <section class="login-content">
    <h1>ログイン</h1>
    <form th:action="@{/login}" method="post">
      <div>
        <label>ユーザー名: <input type="text" name="username" /></label>
      </div>
      <div>
        <label>パスワード: <input type="password" name="password" /></label>
      </div>
      <div>
        <button type="submit">ログイン</button>
      </div>
    </form>
    <p th:if="${param.error}">ログイン失敗しました。再度お試しください。</p>
    <p th:if="${param.logout}">ログアウトしました。</p>
  </section>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>