<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('会員登録')"></head>
<body>
<header th:replace="layout :: header"></header>
<main>
  <section th:fragment="content">
    <h1>会員登録</h1>
    <form th:action="@{/register}" th:object="${registrationForm}" method="post">
      <div>
        <label for="email">メールアドレス</label>
        <input type="email" id="email" th:field="*{email}" placeholder="example@m.titech.ac.jp"/>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
      </div>
      <div>
        <label for="password">パスワード（8文字以上）</label>
        <input type="password" id="password" th:field="*{password}" />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      </div>
      <button type="submit">登録メール送信</button>
    </form>
  </section>
</main>
<footer th:replace="layout :: footer"></footer>
</body>
</html>